.Form{
    align-items: center;
    justify-content: center;
}

.Form .top{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: rgb(255, 0, 0);
}

.Form .top .Comanda{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50px;
    margin-top: 5px;
    border-radius: 10px;
    transition: 0.3s;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: rgb(0, 170, 255);
}

.Form .top .Hora{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 120px;
    margin-top: 5px;
    border-radius: 10px;
    transition: 0.3s;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: rgb(0, 170, 255);
}

.Form .top-button{
    background-color: blue;
}