:root{
    --marginDivTop: 2px solid rgb(0, 0, 0);
    --widthApartados: 75%;
}

.Form{
    align-items: center;
    justify-content: center;
}

.Form .top{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}


.Form .top .Hora{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 120px;
    margin-top: 5px;
    transition: 0.3s;
    overflow: hidden;
    text-align: center;
}

.Form .top-bottom{
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    text-align: center;

}

.Form .top-bottom .Folio{
    align-items: center;
    justify-content: center;
    display: inline-block;
    flex-direction: column;
    height: 120px;
    width: 300px;
    transition: 0.3s;
}

.Form .top-bottom .Nombre{
    align-items: center;
    justify-content: center;
    display: inline-block;
    flex-direction: column;
    height: 120px;
    width: 300px;
    transition: 0.3s;
}


.Form .top-bottom .Telefono{
    align-items: center;
    justify-content: center;
    display: inline-block;
    flex-direction: column;
    height: 120px;
    width: 300px;
    transition: 0.3s;
}

.Form .top-bottom .BotBottom {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
}

.Form .top-bottom .BotBottom .CantidadPaquetes{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 120px;
    width: 300px;
    transition: 0.3s;
    display: inline-block;
}

.Form .top-bottom .BotBottom .Pagado{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 120px;
    width: 300px;
    transition: 0.3s;
    display: inline-block;
}


.Form .top-bottom .BotBottom  .Entregado{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 120px;
    width: 300px;
    transition: 0.3s;
    display: inline-block;
}

.Form .Pollos{
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    text-align: center;
    border-top: var(--marginDivTop);
    width: var(--widthApartados);
    margin-left: 12.5%;
}

.Form .Pollos .Relleno{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 120px;
    width: 300px;
    transition: 0.3s;
    display: inline-block;
}

.Form .Pollos .Adobado{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 120px;
    width: 300px;
    transition: 0.3s;
    display: inline-block;
}

.Form .Pollos .Natural{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 120px;
    width: 300px;
    transition: 0.3s;
    display: inline-block;
}

.Form .Carnes{
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    border-top: var(--marginDivTop);
    width: var(--widthApartados);
    margin-left: 12.5%;
}

.Form .Carnes .Lomo{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 120px;
    width: 300px;
    transition: 0.3s;
    display: inline-block;
}

.Form .Carnes .Pierna{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 120px;
    width: 300px;
    transition: 0.3s;
    display: inline-block;
}

.Form .Carnes .Costilla{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 120px;
    width: 300px;
    transition: 0.3s;
    display: inline-block;
}

.Form .Complementos{
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    border-top: var(--marginDivTop);
    width: var(--widthApartados);
    margin-left: 12.5%;
}

.Form .Complementos .Manzana{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 120px;
    width: 300px;
    transition: 0.3s;
    display: inline-block;
}

.Form .Complementos .Coditos{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 120px;
    width: 300px;
    transition: 0.3s;
    display: inline-block;
}

.Form .Complementos .Spaguetti{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 120px;
    width: 300px;
    transition: 0.3s;
    display: inline-block;
}

.Form .Complementos .BotBottom .Rusa{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 120px;
    width: 300px;
    transition: 0.3s;
    display: inline-block;
}

.Form .Complementos .BotBottom .Chiles{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 120px;
    width: 300px;
    transition: 0.3s;
    display: inline-block;
}

.Form .Complementos .BotBottom .Otros{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 120px;
    width: 300px;
    transition: 0.3s;
    display: inline-block;
}

.Form .TotalApartado{
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    border-top: var(--marginDivTop);
    width: var(--widthApartados);
    margin-left: 12.5%;
}

.Form .TotalApartado .Anticipo{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 120px;
    width: 300px;
    transition: 0.3s;
    display: inline-block;
}

.Form .TotalApartado .Restante{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 120px;
    width: 300px;
    transition: 0.3s;
    display: inline-block;
}

.Form .TotalApartado .Total{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 120px;
    width: 300px;
    transition: 0.3s;
    display: inline-block;
}

.Form .Enviar{
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    width: 100px;
    height: 50px;
    position: relative;
    display: inline;
    margin-left: 48%;
}